body{
  background-color: #E4F9F5;
  margin: 0;
  text-align: center;
  padding-top: 100px;
  font-family: 'Merriweather', serif;
}

div{
  background-color: #E4F9F5;
  margin: 0;
}

h1{
  font-size: 4.5rem;
  margin: 40px auto 0 auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  /*margin: 0 auto;  //short-hand for top-bottom then left-right*/
}

h2{
  color: #66BFBF;
  font-size: 1.875rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  padding-bottom: 10px;
}

h3{
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
}

a{
  color: #11999E;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  margin: 10px 40px 10px;
  text-decoration: none;
  text-align: center;
}

a:hover{
  color: #EAF6F6;
}

p{
  color: #40514E;
  line-height: 2;
}

hr{
  border-style: dotted none none;
  color: #7F8487;
  border-width: 5px;
  margin: 100px auto;
  width: 5%;
}

.pro{
  text-decoration: underline;
}


.profilepic{
  height: 200px;
  width:200px;
}

.intro
{
  width: 30%;
  margin: auto;
}
.topcontainer{
  /*margin: 0;*/
  background-color: #E4F9F5;
  position: relative;
  padding-top: 100px;
}

.middle-container{
  margin: 100px 0;
}

.bottom-container{
  background-color: #66BFBF;
}

.footer-link{
  width: auto;
  text-align: center;
  background-color: #66BFBF;
  margin-top: 40px;
}

.footer-link:hover{
  color: #EAF6F6;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  margin: 20px auto 0;
}

.top-cloud{
  position: absolute;
  top:40px;
  right: 300px;
}

.bottom-cloud{
  position: absolute;
  bottom: 200px;
  left: 200px;
}

.skill-row{
  margin: 100px auto;
  text-align: left;
  width: 50%;
}

.photography{
  float: left;
  margin-right: 30px;
  width:25%;
}
.development{
  float: right;
  margin-left: 30px;
  width:25%;
}

.contact-msg{
  width: 40%;
  margin: 40px auto 60px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
